---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="D2B Inteligencia Digital" description="Home de la pagina de D2B">
  <main>
    <section
      class="bg-no-repeat bg-cover bg-[url('https://d2b.cl/blog/wp-content/uploads/2021/11/prueba2.jpg')]"
    >
      <div class="max-w-screen-xl px-6 m-auto pb-36 pt-52">
        <h1 class="text-white text-5xl max-w-[25ch] mb-12">Blog de D2B</h1>
        <p class="text-white text-lg mb-6">
          Infórmate de todo lo que sucede en el Marketing Digital.
        </p>
        <p class="text-white text-lg mb-6">
          Te damos la bienvenida al Blog de D2B, donde nuestros profesionales
          comparten artículos relacionados al marketing digital,
          recomendaciones, pensamientos y lecciones aprendidas sobre diversos
          temas referentes a SEO, Performance, Analytics, CRO y mucho más. Te
          acompañamos en todo lo que necesitas saber para ganar más clientes.
        </p>
        <button
          class="px-6 py-3 text-white rounded-lg bg-accent animate-fade animate-delay-500"
        >
          Botón principal
        </button>
      </div>
    </section>

    <section>
      <div class="max-w-screen-xl px-6 m-auto pb-36 pt-52">
        <h1>hola</h1>
      </div>
    </section>
  </main>
</Layout>
