---
import Layout from "@/layouts/Layout.astro";
import BlogCard from "@/components/BlogCard.astro";
import { getPosts } from "@/services/blog";
import { wordCounter } from "@/lib/utils";

const posts = await getPosts();
---

<Layout title="D2B Inteligencia Digital" description="Home de la pagina de D2B">
  <main>
    <section
      class="px-6 bg-no-repeat bg-cover bg-[url('https://d2b.cl/blog/wp-content/uploads/2021/11/prueba2.jpg')]"
    >
      <div class="max-w-screen-xl m-auto pb-36 pt-52">
        <h1 class="text-white text-5xl max-w-[25ch] mb-12">Blog de D2B</h1>
        <p class="mb-6 text-lg text-white">
          Infórmate de todo lo que sucede en el Marketing Digital.
        </p>
        <p class="mb-6 text-lg text-white">
          Te damos la bienvenida al Blog de D2B, donde nuestros profesionales
          comparten artículos relacionados al marketing digital,
          recomendaciones, pensamientos y lecciones aprendidas sobre diversos
          temas referentes a SEO, Performance, Analytics, CRO y mucho más. Te
          acompañamos en todo lo que necesitas saber para ganar más clientes.
        </p>
        <button
          class="px-6 py-3 text-white rounded-lg bg-accent animate-fade animate-delay-500"
        >
          Botón principal
        </button>
      </div>
    </section>

    <section class="px-6">
      <div class="grid max-w-screen-xl grid-cols-3 gap-12 m-auto py-36">
        {
          posts.map((post) => (
            <BlogCard
              title={post.title.rendered}
              excerpt={post.excerpt.rendered}
              img={post._embedded["wp:featuredmedia"][0].link}
              caption={post._embedded["wp:featuredmedia"][0].alt_text}
              author={post._embedded.author[0].name}
              readingTime={
                Math.ceil(wordCounter(post.content.rendered) / 200) + " minutos"
              }
              slug={post.slug}
            />
          ))
        }
      </div>
    </section>
  </main>
</Layout>
