---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="D2B Inteligencia Digital" description="Casos de exito de D2B">
  <main>
    <section class="px-6 bg-top bg-cover pb-36 pt-52 bg-hero">
      <div class="m-auto max-w-screen-xl">
        <h1
          class="text-white text-3xl md:text-5xl font-bold max-w-[30ch] mb-6 animate-fade-left"
        >
          titulo_principal
        </h1>
        <p
          class="text-white text-xl md:text-2xl max-w-[45ch] mb-14 animate-fade-left"
        >
          subtitulo
        </p>
        <a
          class="block px-8 py-4 font-bold text-center text-white rounded-lg md:inline-block bg-primary hover:bg-dark-primary animate-fade animate-delay-300"
          href="/contacto"
        >
          cta_principal
        </a>
      </div>
    </section>
  </main>
</Layout>
