---
import { Image } from "astro:assets";
import { getCategories } from "@/services/blog";

const menuItems = await getCategories();
---

<header class="fixed z-10 w-full backdrop-blur-sm bg-black/40">
  <section
    class="flex items-center justify-between max-w-screen-xl px-6 py-4 m-auto"
  >
    <a href="/blog">
      <Image width={52} height={52} src="/D2B-logo.svg" alt="Logo de D2B" />
    </a>

    <nav class="flex gap-4">
      {
        menuItems.map(({ name, slug }) => (
          <a
            class="px-6 py-3 text-md font-medium text-white hover:text-accent"
            href={`/blog/categoria/${slug}`}
          >
            {name}
          </a>
        ))
      }
      <a class="px-6 py-3 text-white rounded-lg bg-accent" href="/">
        Volver a D2B
      </a>
    </nav>
    <button>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        class="text-white"
      >
        <path stroke="none" d="M0 0h24v24H0z"></path>
        <path d="M3 10a7 7 0 1 0 14 0 7 7 0 1 0-14 0M21 21l-6-6"></path>
      </svg>
    </button>
  </section>
  <div class="scroll"></div>
</header>

<script>
  class MenuButton extends HTMLElement {
    constructor() {
      super();

      const openCloseButton = this.querySelector(
        "#open-close-button",
      ) as HTMLButtonElement;

      openCloseButton.addEventListener("click", () => {
        openCloseButton.classList.toggle("active");
      });

      document.addEventListener("click", (e) => {
        if (!this.contains(e.target as HTMLElement))
          openCloseButton.classList.remove("active");
      });

      document.addEventListener("keydown", (e) => {
        if (e.key === "Escape") openCloseButton.classList.remove("active");
      });
    }
  }
  customElements.define("menu-button", MenuButton);
</script>

<style>
  .scroll {
    height: 4px;
    width: 0;
    animation: timeline linear both;
    animation-timeline: scroll(root);
  }
  @keyframes timeline {
    0% {
      background-color: red;
    }
    25% {
      background-color: cyan;
    }
    50% {
      background-color: yellow;
    }
    75% {
      background-color: blue;
    }
    to {
      background-color: lightgreen;
      width: 100%;
    }
  }
</style>
