---
import { Image } from "astro:assets";
import { getCategories } from "@/services/blog";

const menuItems = await getCategories();
---

<header class="fixed z-10 w-full px-6 backdrop-blur-sm bg-neutral-950/40">
  <section
    class="flex items-center justify-between py-4 m-auto max-w-screen-xl"
  >
    <a href="/blog">
      <Image src="/D2B-logo.svg" alt="Logo de D2B" width={64} height={64} />
    </a>

    <nav class="flex gap-4">
      {
        menuItems.map(({ id, name, slug }) => (
          <a
            class="px-6 py-3 font-medium text-white text-md hover:text-primary"
            href={`/blog/categoria/${slug}`}
            data-category-id={id}
          >
            {name}
          </a>
        ))
      }
      <a
        class="px-6 py-3 text-white rounded-lg bg-primary hover:bg-dark-primary"
        href="/"
      >
        Volver a D2B
      </a>
    </nav>
    <button>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        class="text-white"
      >
        <path stroke="none" d="M0 0h24v24H0z"></path>
        <path d="M3 10a7 7 0 1 0 14 0 7 7 0 1 0-14 0M21 21l-6-6"></path>
      </svg>
    </button>
  </section>
  <!-- <div class="absolute left-0 growing-bar"></div> -->
</header>

<style>
  /* Growing bar animation on blog header */
  .growing-bar {
    height: 4px;
    width: 0;
    animation: timeline linear both;
    animation-timeline: scroll(root);
  }
  @keyframes timeline {
    0% {
      background-color: red;
    }
    25% {
      background-color: cyan;
    }
    50% {
      background-color: yellow;
    }
    75% {
      background-color: blue;
    }
    to {
      background-color: lightgreen;
      width: 100%;
    }
  }
</style>
