---
interface Props {
	title: string;
	href: string;
}

const { href, title } = Astro.props;
---

<a href={href}>
	<article class="p-8 rounded-lg h-52 bg-accent/20 w-52">
		<header>
			<h2 class="text-center">{title}</h2>
		</header>
	</article>
</a>
