---
const menuItems = [
  "Inicio",
  "Servicios",
  "Casos",
  "Blog",
  "Contacto",
  "Comunidad D2B",
  "Trabaja con nosotros",
];
---

<header class="fixed z-10 w-full backdrop-blur-sm bg-black/30">
  <section
    class="relative flex items-center justify-between max-w-screen-xl px-6 py-4 m-auto"
  >
    <a href="/">
      <img src="/D2B-logo.svg" alt="Logo de D2B" />
    </a>

    <menu-button>
      <button
        id="menu-button"
        class="group peer relative z-10 h-6 w-9 *:bg-white *:absolute *:left-0 *:w-full *:rounded-full *:h-1 *:duration-200"
        type="button"
      >
        <span
          class="top-0 group-[.active]:rotate-45 group-[.active]:top-1/2 group-[.active]:bg-neutral-600 group-[.active]:-translate-y-1/2 group-hover:bg-accent"
        ></span>
        <span
          class="-translate-y-1/2 top-1/2 group-[.active]:opacity-0 group-hover:bg-accent"
        ></span>
        <span
          class="bottom-0 group-[.active]:-rotate-45 group-[.active]:top-1/2 group-[.active]:bg-neutral-600 group-[.active]:-translate-y-1/2 group-hover:bg-accent"
        ></span>
      </button>

      <nav
        class="group absolute right-0 flex flex-col pt-16 pb-12 text-xl opacity-0 duration-300 -translate-y-20 bg-white rounded-lg text-neutral-600 w-80 top-full peer-[.active]:opacity-100"
      >
        {
          menuItems.map((item, index) => (
            <a
              class={`px-6 py-3 opacity-0 hover:text-accent hover:bg-accent/10 fade`}
              href="#"
              style={`animation-delay: ${200 + 100 * index}ms`}
            >
              {item}
            </a>
          ))
        }
      </nav>
    </menu-button>
  </section>

  <div class="scroll"></div>
</header>

<script>
  class MenuButton extends HTMLElement {
    constructor() {
      super();

      const heartButton = this.querySelector("button");

      heartButton.addEventListener("click", () => {
        heartButton.classList.toggle("active");
      });
    }
  }
  customElements.define("menu-button", MenuButton);
</script>

<style>
  .scroll {
    height: 4px;
    width: 0;
    background: red;
    animation: timeline linear both;
    animation-timeline: scroll(root);
  }
  @keyframes timeline {
    to {
      width: 100%;
    }
  }

  nav {
    clip-path: inset(0 0 100% 100%);
  }
  button.active + nav {
    clip-path: inset(0 0 0 0);
  }

  @keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  button.active + nav > a.fade {
    animation: fade 1s both;
  }
</style>
