---
import { Image } from "astro:assets";
import { headerMenuItems, socialMedia } from "@/constants";
import LinkedinIcon from "@/icons/linkedin.astro";
import YoutubeIcon from "@/icons/youtube.astro";
---

<header class="fixed z-10 w-full px-6 scroll-dark-bg backdrop-blur-sm">
  <section
    class="flex items-center justify-between py-4 m-auto max-w-screen-xl"
  >
    <a href="/">
      <Image src="/D2B-logo.svg" alt="Logo de D2B" width={64} height={64} />
    </a>

    <div class="relative">
      <button
        id="open-close-button"
        class="group peer relative z-10 h-6 w-9 *:bg-white *:absolute *:left-0 *:w-full *:rounded-full *:h-1 *:duration-200"
        type="button"
      >
        <span
          class="top-0 group-[.active]:rotate-45 group-[.active]:top-1/2 group-[.active]:bg-neutral-600 group-[.active]:-translate-y-1/2 group-hover:bg-neutral-200"
        ></span>
        <span
          class="-translate-y-1/2 top-1/2 group-[.active]:opacity-0 group-hover:bg-neutral-200"
        ></span>
        <span
          class="bottom-0 group-[.active]:-rotate-45 group-[.active]:top-1/2 group-[.active]:bg-neutral-600 group-[.active]:-translate-y-1/2 group-hover:bg-neutral-200"
        ></span>
      </button>

      <nav
        class="absolute -right-4 -top-4 flex flex-col pt-14 pb-12 shadow-lg shadow-neutral-500/10 opacity-0 duration-300 bg-white rounded-lg peer-[.active]:opacity-100"
      >
        <div class="flex flex-col px-8 gap-2 md:px-16">
          {
            headerMenuItems.map(({ name, slug }, index) => (
              <a
                class="px-0 py-2 text-2xl font-semibold opacity-0 rounded-md md:text-3xl fade md:px-4 text-nowrap text-secondary hover:bg-accent-purple"
                href={slug}
                style={`animation-delay: ${200 + 100 * index}ms`}
              >
                {name}
              </a>
            ))
          }
        </div>
        <div
          class="h-1 mx-8 my-6 rounded-full md:mx-16 fade bg-secondary"
          style="animation-delay: 800ms;"
        >
        </div>
        <div
          class="flex px-8 gap-2 md:px-16 fade"
          style="animation-delay: 800ms;"
        >
          <a
            class="inline p-3 rounded-xl text-secondary hover:bg-accent-purple"
            href={socialMedia.linkedin.url}
            target="_blank"><LinkedinIcon size={24} /></a
          >
          <a
            class="inline p-3 rounded-xl text-secondary hover:bg-accent-purple"
            href={socialMedia.youtube.url}
            target="_blank"><YoutubeIcon size={24} /></a
          >
        </div>
      </nav>
    </div>
  </section>
</header>

<script>
  const openCloseButton = document.querySelector("#open-close-button");

  openCloseButton.addEventListener("click", () => {
    openCloseButton.classList.toggle("active");
  });

  document.addEventListener("keydown", (e) => {
    if (e.key === "Escape") openCloseButton.classList.remove("active");
  });
</script>

<style>
  /* header gray background acording to scroll */
  .scroll-dark-bg {
    animation: graying linear both;
    animation-timeline: scroll(root);
    animation-range: 0 600px;
  }
  @keyframes graying {
    from {
      background: rgba(0, 0, 0, 0);
    }
    to {
      background: rgba(0, 0, 0, 0.4);
    }
  }

  /* Menu items fade in */
  nav {
    clip-path: inset(0 0 100% 100%);
  }
  button.active + nav {
    clip-path: inset(-10% -10% -10% -10%);
  }

  button.active + nav .fade {
    animation: fade 1s both;
  }

  @keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
</style>
