---
import { Image } from "astro:assets";
import { menuItems } from "@/constants";
---

<header class="fixed z-10 w-full px-6 scroll-dark-bg backdrop-blur-sm">
  <section
    class="flex items-center justify-between py-4 m-auto max-w-screen-xl"
  >
    <a href="/">
      <Image src="/D2B-logo.svg" alt="Logo de D2B" width={64} height={64} />
    </a>

    <div class="relative">
      <button
        id="open-close-button"
        class="group peer relative z-10 h-6 w-9 *:bg-white *:absolute *:left-0 *:w-full *:rounded-full *:h-1 *:duration-200"
        type="button"
      >
        <span
          class="top-0 group-[.active]:rotate-45 group-[.active]:top-1/2 group-[.active]:bg-neutral-600 group-[.active]:-translate-y-1/2 group-hover:bg-neutral-200"
        ></span>
        <span
          class="-translate-y-1/2 top-1/2 group-[.active]:opacity-0 group-hover:bg-neutral-200"
        ></span>
        <span
          class="bottom-0 group-[.active]:-rotate-45 group-[.active]:top-1/2 group-[.active]:bg-neutral-600 group-[.active]:-translate-y-1/2 group-hover:bg-neutral-200"
        ></span>
      </button>

      <nav
        class="absolute -right-4 -top-4 flex flex-col pt-14 pb-12 text-xl shadow-lg shadow-neutral-500/10 opacity-0 duration-300 bg-white rounded-lg peer-[.active]:opacity-100"
      >
        <div class="flex flex-col px-8 gap-2 md:px-16">
          {
            menuItems.map(({ name, slug }, index) => (
              <a
                class={`fade px-0 md:px-4 py-2 rounded-md text-3xl font-semibold text-nowrap opacity-0 text-primary-purple hover:bg-accent-purple`}
                href={slug}
                style={`animation-delay: ${200 + 100 * index}ms`}
              >
                {name}
              </a>
            ))
          }
        </div>
        <div
          class="h-1 mx-8 my-6 rounded-full md:mx-16 fade bg-primary-purple"
          style="animation-delay: 800ms;"
        >
        </div>
        <div
          class="flex px-8 gap-2 md:px-16 fade"
          style="animation-delay: 800ms;"
        >
          <a
            class="inline p-3 rounded-xl text-primary-purple hover:bg-accent-purple"
            href="#"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="currentColor"
              data-supported-dps="24x24"
              viewBox="0 0 24 24"
              ><path
                d="M20.5 2h-17A1.5 1.5 0 0 0 2 3.5v17A1.5 1.5 0 0 0 3.5 22h17a1.5 1.5 0 0 0 1.5-1.5v-17A1.5 1.5 0 0 0 20.5 2zM8 19H5v-9h3zM6.5 8.25A1.75 1.75 0 1 1 8.3 6.5a1.78 1.78 0 0 1-1.8 1.75zM19 19h-3v-4.74c0-1.42-.6-1.93-1.38-1.93A1.74 1.74 0 0 0 13 14.19a.66.66 0 0 0 0 .14V19h-3v-9h2.9v1.3a3.11 3.11 0 0 1 2.7-1.4c1.55 0 3.36.86 3.36 3.66z"
              ></path></svg
            ></a
          >
          <a
            class="inline p-3 rounded-xl text-primary-purple hover:bg-accent-purple"
            href="#"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="2 2 20 20"
              ><path
                fill="currentColor"
                d="M21.78 7.83c-.21-.78-.83-1.39-1.61-1.61C18.66 6 12 6 12 6s-6 0-8.17.22c-.78.21-1.39.83-1.61 1.61C2 10.17 2 12 2 12s0 1.83.22 4.17c.21.78.83 1.39 1.61 1.61C6 18 12 18 12 18s6 0 8.17-.22c.78-.21 1.39-.83 1.61-1.61C22 13.83 22 12 22 12s0-1.83-.22-4.17zM10 15V9l5.5 3-5.5 3z"
              ></path></svg
            >
          </a>
        </div>
      </nav>
    </div>
  </section>
</header>

<script>
  const openCloseButton = document.querySelector("#open-close-button");

  openCloseButton.addEventListener("click", () => {
    openCloseButton.classList.toggle("active");
  });

  document.addEventListener("keydown", (e) => {
    if (e.key === "Escape") openCloseButton.classList.remove("active");
  });
</script>

<style>
  /* header gray background acording to scroll */
  .scroll-dark-bg {
    animation: graying linear both;
    animation-timeline: scroll(root);
    animation-range: 0 600px;
  }
  @keyframes graying {
    from {
      background: rgba(0, 0, 0, 0);
    }
    to {
      background: rgba(0, 0, 0, 0.3);
    }
  }

  /* Menu items fade in */
  nav {
    clip-path: inset(0 0 100% 100%);
  }
  button.active + nav {
    clip-path: inset(-10% -10% -10% -10%);
  }

  button.active + nav .fade {
    animation: fade 1s both;
  }

  @keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
</style>
