---
import "@fontsource-variable/open-sans";
import MainHeader from "@/components/MainHeader.astro";
import BlogHeader from "@/components/BlogHeader.astro";
import Footer from "@/components/Footer.astro";

interface Props {
	metaTitle: string;
	metaDescription: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { metaTitle, metaDescription } = Astro.props;
const { pathname } = Astro.url;
const isBlog = pathname.startsWith("/blog");
const is404= metaTitle?.includes("404");
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>{metaTitle}</title>
		<meta name="description" content={metaDescription} />
		<link rel="canonical" href={canonicalURL} />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/d2b-favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<!-- Google Tag Manager -->
		<script is:inline>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-K66TPW5');</script>
		<!-- End Google Tag Manager -->
	</head>

	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src='https://www.googletagmanager.com/ns.html?id=GTM-K66TPW5'
		height='0' width='0' style='display:none;visibility:hidden'></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->

		{isBlog ? <BlogHeader /> : <MainHeader />}
		<slot />
		{!is404 && <Footer />}

		<style is:global>
			html {
				font-family: "Open Sans Variable", sans-serif;
				scroll-behavior: smooth;
			}
			main {
				overflow: hidden;
			}
			body {
				min-height: 100vh;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
			}
			p {
				text-wrap: pretty;
			}
		</style>
	</body>
</html>
