---
import "@fontsource-variable/open-sans";
import MainHeader from "@/components/MainHeader.astro";
import BlogHeader from "@/components/BlogHeader.astro";
import Footer from "@/components/Footer.astro";

interface Props {
	title: string;
	metaTitle: string;
	metaDescription: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { metaTitle, metaDescription } = Astro.props;
const { pathname } = Astro.url;
const isBlog = pathname.startsWith("/blog");
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>{metaTitle}</title>
		<meta name="description" content={metaDescription} />
		<link rel="canonical" href={canonicalURL} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/d2b-favicon.svg" />
		<meta name="generator" content={Astro.generator} />
	</head>

	<body>
		{isBlog ? <BlogHeader /> : <MainHeader />}
		<slot />
		<Footer />

		<style is:global>
			html {
				font-family: "Open Sans Variable", sans-serif;
				scroll-behavior: smooth;
			}
			main {
				overflow: hidden;
			}
			body {
				min-height: 100vh;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
			}
			p {
				text-wrap: pretty;
			}
		</style>
	</body>
</html>
